name: Integration Tests
on:
  push:
    branches:
      - master
  pull_request_target:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Download dependencies
        run: make deps

      - name: Run integration tests
        env:
          SLACK_MCP_OPENAI_API: ${{ secrets.SLACK_MCP_OPENAI_API }}
          SLACK_MCP_XOXP_TOKEN: ${{ secrets.SLACK_MCP_XOXP_TOKEN }}
          NGROK_AUTH_TOKEN:     ${{ secrets.NGROK_AUTH_TOKEN }}
        run: make test-integration
